.theme-wrapper {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  display: grid;
}
.theme-card-box {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-shadow);
  color: var(--dark);
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}
.card-head {
  padding: 0.25rem;
  background-color: var(--card-color);
  flex-direction: column;
  display: flex;
}
.card-inner-head {
  padding: 0.25rem;
  border-radius: calc(0.5rem - 2px);
}
.card-tabs {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: calc(0.5rem - 4px);
}
.tab {
  padding: 0.5rem;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: calc(0.5rem - 2px);
  background-color: white;
}
.tab-2 {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-shadow);
  padding: 0.5rem;
  border-radius: calc(0.5rem - 2px);
  gap: 0.5rem;
  align-items: center;
  display: flex;
}
.tab-item {
  border-radius: 0.5rem;
  width: 80px;
  height: 0.5rem;
}
.tab-item-2 {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
  width: 100px;
}
.tab-2 .item {
  border-radius: 9999px;
  width: 1rem;
  height: 1rem;
}
.tab-2 .item-2 {
  --tw-space-y-reverse: 0;
  margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0px * var(--tw-space-y-reverse));
  border-radius: 0.5rem;
  width: 100px;
  height: 0.5rem;
}
.card-footer {
  padding: 0.75rem 1.5rem;
}
@media screen and (max-width: 800px) {
  .theme-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 640px) {
  .theme-wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
